@import url('https://fonts.googleapis.com/css2?family=Gantari:ital,wght@0,600;0,800;1,600&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,500&family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
  }

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu {
    margin: 5px;
    display: flex;
    font-size: 16px;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: flex-start;
    padding: 5px;
    font-family: 'Gantari', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.menu i{
    color: black;
    font-size: 100px;
}

.menu a{
   text-decoration: none;
   color: black;
}

.menu a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar img:hover {
    border: 1px solid rgba(0, 0, 0, 0.571);
}

.isi {
    font-family: 'Gantari', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.google {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.google p{
    font-size: small;
    font-style: oblique;
}

.submenu p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    size: 100px;
}

.cari {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
    display: flex;
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
    padding: 10px;
}

.button { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.css-button-fully-rounded--sand {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

.css-button-fully-rounded--sand:hover {
    background: #fff;
    color: #3c4043;
    border: 1px solid #a0a1a3;
}

.real {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.real a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 5px;
}

#footer {
    position: fixed;
    left: 0px;
    bottom:0px;
    height:30px;
    width:100%;
}

.footerpos {
    background: #f2f2f2;
}

.footer1 {
    padding: 5px;
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-family: 'Gantari', sans-serif;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid rgba(124, 124, 124, 0.414);
}

.footer2 {
    padding: 5px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-family: 'Gantari', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.kiri, .kanan {
    display: flex;
    gap: 10px;
}


.footer2 a{
    text-decoration: none;
    color: black;
}

.footer2 a:hover{
    text-decoration: underline;
}
footer{
    margin-top: auto;
}